        * {
            box-sizing: border-box;
            margin:0;
            padding:0;
        }
        :root {
            --primary-color:#e01b1b;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f5f5f5;
        }
        .card {
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            overflow: hidden;
            font-family: Arial, sans-serif;
        }
        .card-header  {
            background-color: var(--primary-color);
            text-align: center;
            position: relative;
            h3 {
                padding:20px 0;
                color: #fff;
            }
            .card-banner {
                height: 25px;
                width: 230px;
                background-color: var(--primary-color);
                position: absolute;
                top: 40px;
                right: -90px;
                transform: rotate(45deg);
                z-index: -1;
            }
        }
        .card-body {
            /* padding: 20px;  */

            .border {
                border:1px dashed #ccc;
            }

            .user-info {
                padding:20px;

                h4 {
                    font-size: 15px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }
            }

            .card-img {
                width:300px;
                height:300px;
                padding: 20px;
                position: relative;

                .sign {
                    background-color: rgb(0, 0, 0);
                    width:30px;
                    height:30px;
                    display: inline-block;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    border:5px solid #fff;
                    color:white;
                    font-weight: bolder;
                    padding:20px;
                    font-size: 25px;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    /*{#visibility: hidden;#}*/
                }

                img {
                    width:100%;
                    height:auto;
                    object-fit: cover;
                }
            }
        }